# Build and Release Folders
bin-debug/
bin-release/
html-template/
*.swc

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.FlexUnitSettings
.flexLibProperties

# OS X folders
.DS_Store

# vim backup
.swp
*~
